#controls {
	float: left;
	border: 1px solid #000000;
	border-radius: 25px;
	padding-top: 7px;
	text-align: center;
	height: 258px;
	width: 250px;
	margin-right: 5px;
}

#container {
	float: left;
	border: 1px solid #000000;
	margin-left: 5px;
}